body{margin: 0;
padding: 0;}

.contener{
   
}
.wrapper{
   margin: auto;
   width:  173vh;
   height: 100vh;
   /* background-color: rgb(221 219 225); */
   background-image: url(images/background.jpg);
   background-size: cover;
   position: relative;
}
.time_sound{
   position: relative;
}
.time_sound-button{
   position: absolute;
   width: 3.8vh;
   height: 3.8vh;
   left: 162vh;
   border-radius: 50%;
   background-color: rgb(12, 12, 12);
}
.time_sound>div:nth-child(1){
   top:15vh;
}
.time_sound>div:nth-child(2){
   top: 27vh;
}
.time_sound-button:hover{
   cursor: pointer;
   outline: 0.5px solid rgb(105, 105, 105);
    /* box-shadow: inset 1px 1px 0px 0px rgb(247 243 243 / 77%);  */
}

.button-blok{
   position: relative;
}
.button-border{
   position: absolute;
   border-radius: 50%;
   border: 2px solid rgb(185 185 185);
   padding: 5px;
}
.button-border-black{
   border-radius: 50%;
   border: 2px solid rgb(17, 17, 17);
}
.button{
   box-shadow: inset -1px 1px 1px 0px rgb(247 243 243 / 77%);
   border-radius: 50%;
   background-color: brown;
   width: 9.5vh;
   height: 9.5vh;
}
.button:hover{
  cursor: pointer;
}
.button.down{
   box-shadow: -1px 1px 0px 0px rgb(247 243 243 / 77%);
}
.button-blok>div:nth-child(1){
   top: 60.8vh;
   left: 14.3vh;
}
.button-blok>div:nth-child(2){
   top: 79vh;
   left:  14.3vh;
}
.button-blok>div:nth-child(3){
   top: 60.8vh;
   left:146.8vh;
}
.button-blok>div:nth-child(4){
   top: 79vh;
   left: 146.8vh;
}
.button-blok-m{
   position: relative;
}
.button-blok-m>div:nth-child(1){
   top: 6.8vh;
   left: 146vh;;
}
.button-blok-m>div:nth-child(2){
   top: 19.2vh;
   left: 146vh;
}
.button-blok-m>div:nth-child(3){
   top: 31.6vh;
   left: 146vh;
}
.button_m-border{
   position: absolute;
   border-radius: 13px/14px;
   border: 2px solid rgb(185 185 185);
   padding: 3px;
}
.button_m-border-black{
   border-radius: 11px/10px;
   border: 2px solid rgb(17, 17, 17);
}
.button_m{
   box-shadow: inset -1px 1px 1px 0px rgb(247 243 243 / 77%);
   border-radius: 9px/8px;
   background-color: brown;
   width: 7.6vh;
   height: 4.3vh;
}
.button_m:hover{
   cursor: pointer;
 }
.button_m.down{
   box-shadow: -1px 1px 0px 0px rgb(247 243 243 / 77%);
}
.wolf{
   position: relative;
}
.wolf-el{
   display: none;
}
.wolf-el.active{
   display: block;
}
.wolf>div{
   position: absolute;
   background-size: cover;
}
.wolf>div:nth-child(1){
   background-image: url(images/wolf1.png);
   top: 43vh;
   left: 70.5vh;
   width: 17.3vh;
   height: 28.1vh;
}
.wolf>div:nth-child(2){
   background-image: url(images/wolf2.png);
   top: 44.1vh;
   left: 84.6vh;
   width: 16.2vh;
   height: 26.8vh;
}
.basket{
   position: relative;
}
.basket-el{
   display: none;
}
.basket-el.active{
   display: block;
}
.basket>div{
   position: absolute;
   background-size: cover;
}
.basket>div:nth-child(1){
   background-image: url(images/basket1.png);
   top: 42.2vh;
   left: 61.4vh;
   width: 14.1vh;
   height: 14.3vh;
}
.basket>div:nth-child(2){
   background-image: url(images/basket2.png);
   top: 56.5vh;
   left: 61.4vh;
   width: 14.1vh;
   height: 12.4vh;
}
.basket>div:nth-child(3){
   background-image: url(images/basket3.png);
   top: 45.1vh;
   left: 98.9vh;
   width: 11.9vh;
   height: 12.2vh;
}
.basket>div:nth-child(4){
   background-image: url(images/basket4.png);
   top: 57vh;
   left: 97vh;
   width: 13.5vh;
   height: 11.4vh;
}
.egg_blok_1{
   position: relative;
}
.egg{
   position: absolute;
   display: none; 
   
}
.egg.active{
   display: block;
}
.egg_blok_0>svg:nth-child(1){
   top: 39.2vh;
   left: 48.4vh;
   transform: scale(1.9) rotate(58deg);
}
.egg_blok_0>svg:nth-child(2){
   top: 39.3vh;
   left: 50vh;
   transform: scale(1.9) rotate(-160deg);
}
.egg_blok_0>svg:nth-child(3){
   top: 42vh;
   left: 54.5vh;
   transform: scale(1.9) rotate(0deg);
}
.egg_blok_0>svg:nth-child(4){
   top: 44.6vh;
   left: 57.8vh;
   transform: scale(1.9) rotate(70deg);
}
.egg_blok_0>svg:nth-child(5){
   top: 46.5vh;
   left: 59.7vh;
   transform: scale(1.9) rotate(160deg);
}
.egg_blok_1>svg:nth-child(1){
   top: 51.6vh;
   left: 46.8vh;
   transform: scale(1.9) rotate(177deg);
}
.egg_blok_1>svg:nth-child(2){
   top: 52.4vh;
   left:50.5vh;
   transform: scale(1.9) rotate(-126deg);
}
.egg_blok_1>svg:nth-child(3){
   top: 55.9vh;
   left: 54.1vh;
   transform: scale(1.9) rotate(83deg);
}
.egg_blok_1>svg:nth-child(4){
   top: 57vh;
   left: 58.1vh;
   transform: scale(1.9) rotate(-12deg);
}
.egg_blok_1>svg:nth-child(5){
   top: 60vh;
   left: 60.8vh;
   transform: scale(1.9) rotate(81deg);
}

.egg_blok_2>svg:nth-child(1){
   top: 38.9vh;
   left: 122.2vh;
   transform: scale(1.9) rotate(58deg);
}
.egg_blok_2>svg:nth-child(2){
   top: 40.3vh;
   left: 119.2vh;
   transform: scale(1.9) rotate(7deg);
}
.egg_blok_2>svg:nth-child(3){
   top: 41.6vh;
   left: 116vh;
   transform: scale(1.9) rotate(-22deg);
}
.egg_blok_2>svg:nth-child(4){
   top: 43vh;
   left: 112.4vh;
   transform: scale(1.9) rotate(-70deg);
}
.egg_blok_2>svg:nth-child(5){
   top: 45.7vh;
   left: 108.4vh;
   transform: scale(1.9) rotate(203deg);
}

.egg_blok_3>svg:nth-child(1){
   top: 52.2vh;
   left: 121.4vh;
   transform: scale(1.9) rotate(125deg);
}
.egg_blok_3>svg:nth-child(2){
   top: 52.7vh;
   left: 117.8vh;
   transform: scale(1.9) rotate(-144deg);
}
.egg_blok_3>svg:nth-child(3){
   top: 55.1vh;
   left: 114.3vh;
   transform: scale(1.9) rotate(158deg);
}
.egg_blok_3>svg:nth-child(4){
   top: 56.2vh;
   left: 112.2vh;
   transform: scale(1.9) rotate(-79deg);
}
.egg_blok_3>svg:nth-child(5){
   top: 59.6vh;
   left: 109.7vh;
   transform: scale(1.9) rotate(-29deg);
}

.chicken_blok_left{
   position: relative;
}
.chicken{
   background-size: cover;
   position: absolute;
   display: none;
}
.chicken.active{
   display: block;
}
.chicken_blok_left>div:nth-child(1){
   top: 70vh;
   left: 57vh;
   width: 13.2vh;
   height: 7vh;
   background-image: url(images/bl1.png);
}
.chicken_blok_left>div:nth-child(2){
   top: 63.2vh;
   left: 54.3vh;
   width: 7.8vh;
   height: 8.1vh;
   background-image: url(images/bl2.png);
}
.chicken_blok_left>div:nth-child(3){
   top: 67.8vh;
   left: 52.7vh;
   width: 4.1vh;
   height: 5.9vh;
   background-image: url(images/bl3.png);
}
.chicken_blok_left>div:nth-child(4){
   top: 68.1vh;
   left: 47.8vh;
   width: 4.6vh;
   height: 5.4vh;
   background-image: url(images/bl4.png);
}
.chicken_blok_left>div:nth-child(5){
   top: 68.1vh;
   left: 42.4vh;
   width: 4.6vh;
   height: 5.7vh;
   background-image: url(images/bl5.png);
}

.chicken_blok_right>div:nth-child(1){
   top: 70vh;
   left: 101.6vh;
   width: 13.2vh;
   height: 7.3vh;
   background-image: url(images/br1.png);
}
.chicken_blok_right>div:nth-child(2){
   top: 63.2vh;
   left: 108.9vh;
   width: 7.8vh;
   height: 6.8vh;
   background-image: url(images/br2.png);
}
.chicken_blok_right>div:nth-child(3){
   top: 66.8vh;
   left: 116vh;
   width: 4vh;
   height: 5.9vh;
   background-image: url(images/br3.png);
}
.chicken_blok_right>div:nth-child(4){
   top: 67vh;
   left: 120.3vh;
   width: 4.3vh;
   height: 5.7vh;
   background-image: url(images/br4.png);
}
.chicken_blok_right>div:nth-child(5){
   top: 66.8vh;
   left: 124.9vh;
   width: 4.3vh;
   height: 5.9vh;
   background-image: url(images/br5.png);
}

.game_blok{
   position: relative;
}
.game{
   background-size: cover;
   position: absolute;
   display: none;
}
.game.active{
   display: block;
}
.game_blok>div:nth-child(1){
   top: 75.9vh;
   left: 43.2vh;
   width: 11.9vh;
   height: 3vh;
   background-image: url(images/gameA.png);
}
.game_blok>div:nth-child(2){
   top: 75.7vh;
   left: 117vh;
   width: 11.6vh;
   height: 3vh;
   background-image: url(images/gameB.png);
}
.hare{
   display: none;
   position: absolute;
   top: 21.6vh;
   left: 53vh;
   width: 13.8vh;
   height: 16.5vh;
   background-image: url(images/hare.png);
   background-size: cover;
}
.hare.active{
   display: block;
}
.egg_broken_blok{
   position: relative;
}
.egg_broken{
   background-size: cover;
   position: absolute;
   display: none;
}
.egg_broken.active{
   display: block;
}
.egg_broken.anime{
   display: block;
   animation: nev 1s infinite alternate;
}
@keyframes nev {
   from { /* От */
   opacity: 0.1; /* полная прозрачность */
   }
   to { /* До */
   opacity: 1; /* полная непрозрачность */
   }
}
.egg_broken_blok>div:nth-child(1){
   top: 35.1vh;
   left: 102.2vh;
   width: 5.7vh;
   height: 6.5vh;
   background-image: url(images/begg1.png);
}
.egg_broken_blok>div:nth-child(2){
   top: 35.1vh;
   left: 95.1vh;
   width: 5.7vh;
   height: 6.5vh;
   background-image: url(images/begg2.png);
}
.egg_broken_blok>div:nth-child(3){
   top: 35.1vh;
   left: 88.4vh;
   width: 5.7vh;
   height: 6.5vh;
   background-image: url(images/begg3.png);
}

.blok-blok-z{
   position: relative;
}

.blok-z{
   position: absolute;
   width: 4.9vh;
   height: 9.5vh;
}
.blok-blok-z>div:nth-child(1){
   top: 23.5vh;
   left: 108.9vh;
}
.blok-blok-z>div:nth-child(2){
   top: 23.5vh;
   left: 100.8vh;
}
.blok-blok-z>div:nth-child(3){
   top: 23.5vh;
   left: 90.5vh;
}
.blok-blok-z>div:nth-child(4){
   top: 23.5vh;
   left: 82.4vh;
}
   
.z-el{
   background-size: cover;
   position: absolute;
   display: none;
}
.z-el.active{
   display: block;
}
.blok-z>div:nth-child(1){
   top: 2px;
   left: 1px;
   width: 5px;
   height: 14px;
   background-image: url(images/z1.png);
}
.blok-z>div:nth-child(2){
   top: 0px;
   left: 5px;
   width: 10px;
   height: 5px;
   background-image: url(images/z2.png);

}
.blok-z>div:nth-child(3){
   top: 2px;
   left: 13px;
   width: 5px;
   height: 15px;
   background-image: url(images/z3.png);
}
.blok-z>div:nth-child(4){
   top: 15px;
   left: 4px;
   width: 9px;
   height: 5px;
   background-image: url(images/z4.png);
}
.blok-z>div:nth-child(5){
   top: 18px;
   left: 0px;
   width: 5px;
   height: 13px;
   background-image: url(images/z5.png);
}
.blok-z>div:nth-child(6){
   top: 18px;
   left: 11px;
   width: 6px;
   height: 13px;
   background-image: url(images/z6.png);
}
.blok-z>div:nth-child(7){
   top: 30px;
   left: 3px;
   width: 10px;
   height: 5px;
   background-image: url(images/z7.png);
}