.contener{
   
}
.wrapper{
   margin: auto;
   width: 640px;
   height: 370px;
   /* background-color: rgb(221 219 225); */
   background-image: url(images/background1.jpg);
   background-size: cover;
   position: relative;
}
.button-blok{
   position: relative;
}
.button-border{
   position: absolute;
   border-radius: 50%;
   border: 2px solid rgb(185 185 185);
   padding: 5px;
}
.button-border-black{
   border-radius: 50%;
   border: 2px solid rgb(17, 17, 17);
}
.button{
   box-shadow: inset -1px 1px 1px 0px rgb(247 243 243 / 77%);
   border-radius: 50%;
   background-color: brown;
   width: 35px;
   height: 35px;
}
.button:hover{
  
   cursor: pointer;
}
.button.down{
   box-shadow: -1px 1px 0px 0px rgb(247 243 243 / 77%);
  
}
.button-blok>div:nth-child(1){
   top: 225px;
   left: 53px;
}
.button-blok>div:nth-child(2){
   top: 293px;
   left: 53px;
}
.button-blok>div:nth-child(3){
   top: 225px;
   left: 532px;
}
.button-blok>div:nth-child(4){
   top: 293px;
   left: 532px;
}

.button-blok-m{
   position: relative;
}
.button-blok-m>div:nth-child(1){
   top: 25px;
   left: 540px;;
}
.button-blok-m>div:nth-child(2){
   top: 71px;
   left: 540px;
}
.button-blok-m>div:nth-child(3){
   top: 117px;
   left: 540px;
}
.button_m-border{
   position: absolute;
   border-radius: 13px/14px;
   border: 2px solid rgb(185 185 185);
   padding: 3px;
}
.button_m-border-black{
   border-radius: 11px/10px;
   border: 2px solid rgb(17, 17, 17);
}

.button_m{
   box-shadow: inset -1px 1px 1px 0px rgb(247 243 243 / 77%);
   border-radius: 9px/8px;
   background-color: brown;
   width: 28px;
   height: 16px;
}
.button_m.down{
   box-shadow: -1px 1px 0px 0px rgb(247 243 243 / 77%);
   
}
.wolf{
   position: relative;
}
.wolf-el{
   display: none;
}
.wolf-el.active{
   display: block;
}
.wolf>div{
   position: absolute;
   background-size: cover;
}
.wolf>div:nth-child(1){
   background-image: url(images/wolf1.png);
   top: 159px;
   left: 261px;
   width: 64px;
   height: 104px;
}
.wolf>div:nth-child(2){
   background-image: url(images/wolf2.png);
   top: 163px;
   left: 313px;
   width: 60px;
   height: 99px;
}

.basket{
   position: relative;
}
.basket-el{
   display: none;
}
.basket-el.active{
   display: block;
}
.basket>div{
   position: absolute;
   background-size: cover;
}
.basket>div:nth-child(1){
   background-image: url(images/basket1.png);
   top: 156px;
   left: 227px;
   width: 52px;
   height: 53px;
}
.basket>div:nth-child(2){
   background-image: url(images/basket2.png);
   top: 209px;
   left: 227px;
   width: 52px;
   height: 46px;
}
.basket>div:nth-child(3){
   background-image: url(images/basket3.png);
   top: 167px;
   left: 366px;
   width: 44px;
   height: 45px;
}
.basket>div:nth-child(4){
   background-image: url(images/basket4.png);
   top: 211px;
   left: 359px;
   width: 50px;
   height: 42px;
   
}

.egg_blok_1{
   position: relative;
}

.egg{
   position: absolute;
   display: none; 
}
.egg.active{
   display: block;
}
.egg_blok_0>svg:nth-child(1){
   top: 145px;
   left: 179px;
   transform: scale(1.9) rotate(58deg);
}
.egg_blok_0>svg:nth-child(2){
   top: 147px;
   left: 187px;
   transform: scale(1.9) rotate(-160deg);
}
.egg_blok_0>svg:nth-child(3){
   top: 156px;
   left: 204px;
   transform: scale(1.9) rotate(0deg);
}
.egg_blok_0>svg:nth-child(4){
   top: 165px;
   left: 214px;
   transform: scale(1.9) rotate(70deg);
}
.egg_blok_0>svg:nth-child(5){
   top: 172px;
   left: 221px;
   transform: scale(1.9) rotate(160deg);
}

.egg_blok_1>svg:nth-child(1){
   top: 191px;
   left: 173px;
   transform: scale(1.9) rotate(177deg);
}
.egg_blok_1>svg:nth-child(2){
   top: 194px;
   left: 187px;
   transform: scale(1.9) rotate(-126deg);
}
.egg_blok_1>svg:nth-child(3){
   top: 207px;
   left: 200px;
   transform: scale(1.9) rotate(83deg);
}
.egg_blok_1>svg:nth-child(4){
   top: 211px;
   left: 215px;
   transform: scale(1.9) rotate(-12deg);
}
.egg_blok_1>svg:nth-child(5){
   top: 222px;
   left: 225px;
   transform: scale(1.9) rotate(81deg);
}

.egg_blok_2>svg:nth-child(1){
   top: 144px;
   left: 452px;
   transform: scale(1.9) rotate(58deg);
}
.egg_blok_2>svg:nth-child(2){
   top: 149px;
   left: 441px;
   transform: scale(1.9) rotate(7deg);
}
.egg_blok_2>svg:nth-child(3){
   top: 154px;
   left: 429px;
   transform: scale(1.9) rotate(-22deg);
}
.egg_blok_2>svg:nth-child(4){
   top: 159px;
   left: 416px;
   transform: scale(1.9) rotate(-70deg);
}
.egg_blok_2>svg:nth-child(5){
   top: 169px;
   left: 401px;
   transform: scale(1.9) rotate(203deg);
}

.egg_blok_3>svg:nth-child(1){
   top: 193px;
   left: 449px;
   transform: scale(1.9) rotate(125deg);
}
.egg_blok_3>svg:nth-child(2){
   top: 195px;
   left: 436px;
   transform: scale(1.9) rotate(-144deg);
}
.egg_blok_3>svg:nth-child(3){
   top: 204px;
   left: 423px;
   transform: scale(1.9) rotate(158deg);
}
.egg_blok_3>svg:nth-child(4){
   top: 208px;
   left: 415px;
   transform: scale(1.9) rotate(-79deg);
}
.egg_blok_3>svg:nth-child(5){
   top: 220px;
   left: 406px;
   transform: scale(1.9) rotate(-29deg);
}

.chicken_blok_left{
   position: relative;
}
.chicken{
   background-size: cover;
   position: absolute;
   display: none;
}
.chicken.active{
   display: block;
}
.chicken_blok_left>div:nth-child(1){
   top: 259px;
   left: 211px;
   width: 49px;
   height: 26px;
   background-image: url(images/bl1.png);
}
.chicken_blok_left>div:nth-child(2){
   top: 234px;
   left: 201px;
   width: 29px;
   height: 30px;
   background-image: url(images/bl2.png);
}
.chicken_blok_left>div:nth-child(3){
   top: 251px;
   left: 195px;
   width: 15px;
   height: 22px;
   background-image: url(images/bl3.png);
}
.chicken_blok_left>div:nth-child(4){
   top: 252px;
   left: 177px;
   width: 17px;
   height: 20px;
   background-image: url(images/bl4.png);
}
.chicken_blok_left>div:nth-child(5){
   top: 252px;
   left: 157px;
   width: 17px;
   height: 21px;
   background-image: url(images/bl5.png);
}
/* .chicken_blok_right>div{ display: block;} */


.chicken_blok_right>div:nth-child(1){
   top: 259px;
   left: 376px;
   width: 49px;
   height: 27px;
   background-image: url(images/br1.png);
}
.chicken_blok_right>div:nth-child(2){
   top: 234px;
   left: 403px;
   width: 29px;
   height: 25px;
   background-image: url(images/br2.png);
}
.chicken_blok_right>div:nth-child(3){
   top: 247px;
   left: 429px;
   width: 15px;
   height: 22px;
   background-image: url(images/br3.png);
}
.chicken_blok_right>div:nth-child(4){
   top: 248px;
   left: 445px;
   width: 16px;
   height: 21px;
   background-image: url(images/br4.png);
}
.chicken_blok_right>div:nth-child(5){
   top: 247px;
   left: 462px;
   width: 16px;
   height: 22px;
   background-image: url(images/br5.png);
}

.game_blok{
   position: relative;
}
.game{
   background-size: cover;
   position: absolute;
   display: none;
}
.game.active{
   display: block;
}
.game_blok>div:nth-child(1){
   top: 281px;
   left: 160px;
   width: 44px;
   height: 11px;
   background-image: url(images/gameA.png);
}
.game_blok>div:nth-child(2){
   top: 280px;
   left: 433px;
   width: 43px;
   height: 11px;
   background-image: url(images/gameB.png);
}
.hare{
   display: none;
   position: absolute;
   top: 80px;
   left: 196px;
   width: 51px;
   height: 61px;
   background-image: url(images/hare.png);
   background-size: cover;
}
.hare.active{
   display: none;
}
.egg_broken_blok{
   position: relative;
}
.egg_broken{
   background-size: cover;
   position: absolute;
   display: none;
}
.egg_broken.active{
   display: block;
}
.egg_broken_blok>div:nth-child(1){
   top: 130px;
   left: 378px;
   width: 21px;
   height: 24px;
   background-image: url(images/begg1.png);
}
.egg_broken_blok>div:nth-child(2){
   top: 130px;
   left: 352px;
   width: 21px;
   height: 24px;
   background-image: url(images/begg2.png);

}
.egg_broken_blok>div:nth-child(3){
   top: 130px;
   left: 327px;
   width: 21px;
   height: 24px;
   background-image: url(images/begg3.png);
}

.blok-blok-z{
   position: relative;
}

.blok-z{
   position: absolute;
   width: 18px;
   height: 35px;
   /* background-color: rgba(165, 42, 42, 0.322); */

}
.blok-blok-z>div:nth-child(1){
   top: 87px;
   left: 403px;
}
.blok-blok-z>div:nth-child(2){
   top: 87px;
   left: 373px;
}
.blok-blok-z>div:nth-child(3){
   top: 87px;
   left: 335px;
}
.blok-blok-z>div:nth-child(4){
   top: 87px;
   left: 305px;
}
   
.z-el{
   background-size: cover;
   position: absolute;
   display: none;
}
.z-el.active{
   display: block;
}
.blok-z>div:nth-child(1){
   top: 2px;
   left: 1px;
   width: 5px;
   height: 14px;
   background-image: url(images/z1.png);
}
.blok-z>div:nth-child(2){
   top: 0px;
   left: 5px;
   width: 10px;
   height: 5px;
   background-image: url(images/z2.png);

}
.blok-z>div:nth-child(3){
   top: 2px;
   left: 13px;
   width: 5px;
   height: 15px;
   background-image: url(images/z3.png);
}
.blok-z>div:nth-child(4){
   top: 15px;
   left: 4px;
   width: 9px;
   height: 5px;
   background-image: url(images/z4.png);
}
.blok-z>div:nth-child(5){
   top: 18px;
   left: 0px;
   width: 5px;
   height: 13px;
   background-image: url(images/z5.png);
}
.blok-z>div:nth-child(6){
   top: 18px;
   left: 11px;
   width: 6px;
   height: 13px;
   background-image: url(images/z6.png);
}
.blok-z>div:nth-child(7){
   top: 30px;
   left: 3px;
   width: 10px;
   height: 5px;
   background-image: url(images/z7.png);
}